
/* r_hl stands for "red highlight" same for all rainbow colours. Easy for users to follow */
.r_hl {background-color: #ffadad;}
.o_hl {background-color: #ffd6a5;}
.y_hl {background-color: #fdffb6;}
.g_hl {background-color: #caffbf;}
.b_hl {background-color: #9bf6ff;}
.p_hl {background-color: #a0c4ff;}

/* r_tc stands for "red textcolour" */
.r_tc {color: #f94144;}
.o_tc {color: #f9844a;}
.y_tc {color: #e9c46a;}
.g_tc {color: #90be6d;}
.b_tc {color: #4361ee;}
.p_tc {color: #560bad;}


.new_buttons {
    position: relative;
    display: inline-block;
}

.hl_dropdown_content {
    position: absolute;
    top: 100%;
    margin-left: 5px;
    z-index: 1;
}

.hl_dropdown_content button {
    background-colour: #ffffff;
    color: black;
    width: 70px;
    height: 20px;
    padding: 1px 5px;
    text-decoration: none;
    border: none;
    display: block;
    border-radius: none;
}

.hl_dropdown_content button:focus {
    border: none;
}


